Source: libheif
Section: libs
Priority: optional
Maintainer: Debian Multimedia Maintainers <debian-multimedia@lists.debian.org>
Uploaders:
 Joachim Bauch <bauch@struktur.de>
Build-Depends:
 cmake,
 debhelper-compat (= 13),
 libaom-dev,
 libavcodec-dev,
 libdav1d-dev,
 libde265-dev (>= 1.0.7),
# libgdk-pixbuf-2.0-dev,
 libjpeg-dev,
# libkvazaar-dev,
 libopenjp2-7-dev,
 libpng-dev,
# librav1e-dev [amd64 arm64 armel armhf mips64el mipsel powerpc ppc64 ppc64el riscv64 s390x],
# libsharpyuv-dev,
# libsvtav1enc-dev,
 libx265-dev
Standards-Version: 4.7.0
Rules-Requires-Root: no
Homepage: http://www.libheif.org
Vcs-Git: https://salsa.debian.org/multimedia-team/libheif.git
Vcs-Browser: https://salsa.debian.org/multimedia-team/libheif

Package: libheif1
Architecture: any
Multi-Arch: same
Depends:
 ${misc:Depends},
 ${shlibs:Depends},
 ${libheif:Depends},
 libheif-plugin-libde265 (= ${binary:Version})
Recommends:
 ${libheif:Recommends},
 libheif-plugin-aomenc (= ${binary:Version})
Suggests:
 ${libheif:Suggests},
 libheif-plugin-ffmpegdec (= ${binary:Version}),
 libheif-plugin-jpegdec (= ${binary:Version}),
 libheif-plugin-jpegenc (= ${binary:Version}),
 libheif-plugin-j2kdec (= ${binary:Version}),
 libheif-plugin-j2kenc (= ${binary:Version}),
 libheif-plugin-kvazaar (= ${binary:Version}),
 libheif-plugin-rav1e (= ${binary:Version}),
 libheif-plugin-svtenc (= ${binary:Version})
Description: HEIF and AVIF file format decoder and encoder - shared library
 libheif is an ISO/IEC 23008-12:2017 HEIF and AVIF (AV1 Image File Format) file
 format decoder and encoder. There is partial support for ISO/IEC 23008-12:2022
 (2nd Edition) capabilities.
 .
 HEIF and AVIF are new image file formats employing HEVC (H.265) or AV1 image
 coding, respectively, for the best compression ratios currently possible.
 .
 libheif supports various codecs provided by plugins for image decoding and
 encoding,
 .
 This package contains the shared library.

Package: libheif-plugin-aomdec
Architecture: any
Multi-Arch: same
Depends:
 libheif1 (= ${binary:Version}),
 ${misc:Depends},
 ${shlibs:Depends}
Description: HEIF and AVIF file format decoder and encoder - aomdec plugin
 libheif is an ISO/IEC 23008-12:2017 HEIF and AVIF (AV1 Image File Format) file
 format decoder and encoder. There is partial support for ISO/IEC 23008-12:2022
 (2nd Edition) capabilities.
 .
 HEIF and AVIF are new image file formats employing HEVC (H.265) or AV1 image
 coding, respectively, for the best compression ratios currently possible.
 .
 libheif supports various codecs provided by plugins for image decoding and
 encoding,
 .
 This package contains the aomdec plugin that uses libaom to decode AV1 images.

Package: libheif-plugin-aomenc
Architecture: any
Multi-Arch: same
Depends:
 libheif1 (= ${binary:Version}),
 ${misc:Depends},
 ${shlibs:Depends}
Description: HEIF and AVIF file format decoder and encoder - aomenc plugin
 libheif is an ISO/IEC 23008-12:2017 HEIF and AVIF (AV1 Image File Format) file
 format decoder and encoder. There is partial support for ISO/IEC 23008-12:2022
 (2nd Edition) capabilities.
 .
 HEIF and AVIF are new image file formats employing HEVC (H.265) or AV1 image
 coding, respectively, for the best compression ratios currently possible.
 .
 libheif supports various codecs provided by plugins for image decoding and
 encoding,
 .
 This package contains the aomenc plugin that uses libaom to encode AV1 images.

Package: libheif-plugin-dav1d
Architecture: any
Multi-Arch: same
Depends:
 libheif1 (= ${binary:Version}),
 ${misc:Depends},
 ${shlibs:Depends}
Description: HEIF and AVIF file format decoder and encoder - dav1d plugin
 libheif is an ISO/IEC 23008-12:2017 HEIF and AVIF (AV1 Image File Format) file
 format decoder and encoder. There is partial support for ISO/IEC 23008-12:2022
 (2nd Edition) capabilities.
 .
 HEIF and AVIF are new image file formats employing HEVC (H.265) or AV1 image
 coding, respectively, for the best compression ratios currently possible.
 .
 libheif supports various codecs provided by plugins for image decoding and
 encoding,
 .
 This package contains the dav1d plugin that uses dav1d to decode AV1 images.

Package: libheif-plugin-ffmpegdec
Architecture: any
Multi-Arch: same
Depends:
 libheif1 (= ${binary:Version}),
 ${misc:Depends},
 ${shlibs:Depends}
Description: HEIF and AVIF file format decoder and encoder - ffmpegdec plugin
 libheif is an ISO/IEC 23008-12:2017 HEIF and AVIF (AV1 Image File Format) file
 format decoder and encoder. There is partial support for ISO/IEC 23008-12:2022
 (2nd Edition) capabilities.
 .
 HEIF and AVIF are new image file formats employing HEVC (H.265) or AV1 image
 coding, respectively, for the best compression ratios currently possible.
 .
 libheif supports various codecs provided by plugins for image decoding and
 encoding,
 .
 This package contains the ffmpegdec plugin that uses FFmpeg to decode HEVC
 images. It can make use of H265 hardware decoders if available in FFmpeg.

Package: libheif-plugin-j2kdec
Architecture: any
Multi-Arch: same
Depends:
 libheif1 (= ${binary:Version}),
 ${misc:Depends},
 ${shlibs:Depends}
Description: HEIF and AVIF file format decoder and encoder - j2kdec plugin
 libheif is an ISO/IEC 23008-12:2017 HEIF and AVIF (AV1 Image File Format) file
 format decoder and encoder. There is partial support for ISO/IEC 23008-12:2022
 (2nd Edition) capabilities.
 .
 HEIF and AVIF are new image file formats employing HEVC (H.265) or AV1 image
 coding, respectively, for the best compression ratios currently possible.
 .
 libheif supports various codecs provided by plugins for image decoding and
 encoding,
 .
 This package contains the j2kdec plugin that uses OpenJPEG to decode JPEG2000
 images.

Package: libheif-plugin-j2kenc
Architecture: any
Multi-Arch: same
Depends:
 libheif1 (= ${binary:Version}),
 ${misc:Depends},
 ${shlibs:Depends}
Description: HEIF and AVIF file format decoder and encoder - j2kenc plugin
 libheif is an ISO/IEC 23008-12:2017 HEIF and AVIF (AV1 Image File Format) file
 format decoder and encoder. There is partial support for ISO/IEC 23008-12:2022
 (2nd Edition) capabilities.
 .
 HEIF and AVIF are new image file formats employing HEVC (H.265) or AV1 image
 coding, respectively, for the best compression ratios currently possible.
 .
 libheif supports various codecs provided by plugins for image decoding and
 encoding,
 .
 This package contains the j2kenc plugin that uses OpenJPEG to encode JPEG2000
 images.

Package: libheif-plugin-jpegdec
Architecture: any
Multi-Arch: same
Depends:
 libheif1 (= ${binary:Version}),
 ${misc:Depends},
 ${shlibs:Depends}
Description: HEIF and AVIF file format decoder and encoder - jpegdec plugin
 libheif is an ISO/IEC 23008-12:2017 HEIF and AVIF (AV1 Image File Format) file
 format decoder and encoder. There is partial support for ISO/IEC 23008-12:2022
 (2nd Edition) capabilities.
 .
 HEIF and AVIF are new image file formats employing HEVC (H.265) or AV1 image
 coding, respectively, for the best compression ratios currently possible.
 .
 libheif supports various codecs provided by plugins for image decoding and
 encoding,
 .
 This package contains the jpegdec plugin that uses libjpeg to decode JPEG
 images.

Package: libheif-plugin-jpegenc
Architecture: any
Multi-Arch: same
Depends:
 libheif1 (= ${binary:Version}),
 ${misc:Depends},
 ${shlibs:Depends}
Description: HEIF and AVIF file format decoder and encoder - jpegenc plugin
 libheif is an ISO/IEC 23008-12:2017 HEIF and AVIF (AV1 Image File Format) file
 format decoder and encoder. There is partial support for ISO/IEC 23008-12:2022
 (2nd Edition) capabilities.
 .
 HEIF and AVIF are new image file formats employing HEVC (H.265) or AV1 image
 coding, respectively, for the best compression ratios currently possible.
 .
 libheif supports various codecs provided by plugins for image decoding and
 encoding,
 .
 This package contains the jpegenc plugin that uses libjpeg to encode JPEG
 images.

Package: libheif-plugin-kvazaar
Architecture: any
Multi-Arch: same
Depends:
 libheif1 (= ${binary:Version}),
 ${misc:Depends},
 ${shlibs:Depends}
Description: HEIF and AVIF file format decoder and encoder - kvazaar plugin
 libheif is an ISO/IEC 23008-12:2017 HEIF and AVIF (AV1 Image File Format) file
 format decoder and encoder. There is partial support for ISO/IEC 23008-12:2022
 (2nd Edition) capabilities.
 .
 HEIF and AVIF are new image file formats employing HEVC (H.265) or AV1 image
 coding, respectively, for the best compression ratios currently possible.
 .
 libheif supports various codecs provided by plugins for image decoding and
 encoding,
 .
 This package contains the kvazaar plugin that uses kvazaar to encode HEVC
 images.

Package: libheif-plugin-libde265
Architecture: any
Multi-Arch: same
Depends:
 libheif1 (= ${binary:Version}),
 ${misc:Depends},
 ${shlibs:Depends}
Description: HEIF and AVIF file format decoder and encoder - libde265 plugin
 libheif is an ISO/IEC 23008-12:2017 HEIF and AVIF (AV1 Image File Format) file
 format decoder and encoder. There is partial support for ISO/IEC 23008-12:2022
 (2nd Edition) capabilities.
 .
 HEIF and AVIF are new image file formats employing HEVC (H.265) or AV1 image
 coding, respectively, for the best compression ratios currently possible.
 .
 libheif supports various codecs provided by plugins for image decoding and
 encoding,
 .
 This package contains the libde265 plugin that uses libde265 to decode HEVC
 images.

Package: libheif-plugin-rav1e
Architecture: amd64 arm64 armel armhf mips64el mipsel powerpc ppc64 ppc64el riscv64 s390x
Multi-Arch: same
Depends:
 libheif1 (= ${binary:Version}),
 ${misc:Depends},
 ${shlibs:Depends}
Description: HEIF and AVIF file format decoder and encoder - rav1e plugin
 libheif is an ISO/IEC 23008-12:2017 HEIF and AVIF (AV1 Image File Format) file
 format decoder and encoder. There is partial support for ISO/IEC 23008-12:2022
 (2nd Edition) capabilities.
 .
 HEIF and AVIF are new image file formats employing HEVC (H.265) or AV1 image
 coding, respectively, for the best compression ratios currently possible.
 .
 libheif supports various codecs provided by plugins for image decoding and
 encoding,
 .
 This package contains the rav1e plugin that uses rav1e to encode AV1 images.

Package: libheif-plugin-svtenc
Architecture: any
Multi-Arch: same
Depends:
 libheif1 (= ${binary:Version}),
 ${misc:Depends},
 ${shlibs:Depends}
Description: HEIF and AVIF file format decoder and encoder - svtenc plugin
 libheif is an ISO/IEC 23008-12:2017 HEIF and AVIF (AV1 Image File Format) file
 format decoder and encoder. There is partial support for ISO/IEC 23008-12:2022
 (2nd Edition) capabilities.
 .
 HEIF and AVIF are new image file formats employing HEVC (H.265) or AV1 image
 coding, respectively, for the best compression ratios currently possible.
 .
 libheif supports various codecs provided by plugins for image decoding and
 encoding,
 .
 This package contains the svtenc plugin that uses SVT-AV1 to encode AV1 images.

Package: libheif-plugin-x265
Architecture: any
Multi-Arch: same
Depends:
 libheif1 (= ${binary:Version}),
 ${misc:Depends},
 ${shlibs:Depends}
Description: HEIF and AVIF file format decoder and encoder - x265 plugin
 libheif is an ISO/IEC 23008-12:2017 HEIF and AVIF (AV1 Image File Format) file
 format decoder and encoder. There is partial support for ISO/IEC 23008-12:2022
 (2nd Edition) capabilities.
 .
 HEIF and AVIF are new image file formats employing HEVC (H.265) or AV1 image
 coding, respectively, for the best compression ratios currently possible.
 .
 libheif supports various codecs provided by plugins for image decoding and
 encoding,
 .
 This package contains the x265 plugin that uses x265 to encode HEVC images.

Package: libheif-dev
Section: libdevel
Multi-Arch: same
Architecture: any
Depends:
 libheif1 (= ${binary:Version}),
 libaom-dev,
 libdav1d-dev,
 libde265-dev (>= 1.0.7),
 libx265-dev,
 ${misc:Depends}
Description: HEIF and AVIF file format decoder and encoder - development files
 libheif is an ISO/IEC 23008-12:2017 HEIF and AVIF (AV1 Image File Format) file
 format decoder and encoder. There is partial support for ISO/IEC 23008-12:2022
 (2nd Edition) capabilities.
 .
 HEIF and AVIF are new image file formats employing HEVC (H.265) or AV1 image
 coding, respectively, for the best compression ratios currently possible.
 .
 libheif supports various codecs provided by plugins for image decoding and
 encoding,
 .
 The development headers for compiling programs that use libheif are provided
 by this package.

Package: libheif-examples
Section: video
Architecture: any
Depends:
 libheif1 (= ${binary:Version}),
 ${misc:Depends},
 ${shlibs:Depends}
Description: HEIF and AVIF file format decoder and encoder - examples
 libheif is an ISO/IEC 23008-12:2017 HEIF and AVIF (AV1 Image File Format) file
 format decoder and encoder. There is partial support for ISO/IEC 23008-12:2022
 (2nd Edition) capabilities.
 .
 HEIF and AVIF are new image file formats employing HEVC (H.265) or AV1 image
 coding, respectively, for the best compression ratios currently possible.
 .
 libheif supports various codecs provided by plugins for image decoding and
 encoding,
 .
 Sample applications using libheif are provided by this package.

Package: heif-thumbnailer
Section: graphics
Architecture: any
Multi-Arch: foreign
Depends:
 libheif1 (= ${binary:Version}),
 ${misc:Depends},
 ${shlibs:Depends}
Description: HEIF and AVIF file format decoder and encoder - thumbnailer
 libheif is an ISO/IEC 23008-12:2017 HEIF and AVIF (AV1 Image File Format) file
 format decoder and encoder. There is partial support for ISO/IEC 23008-12:2022
 (2nd Edition) capabilities.
 .
 HEIF and AVIF are new image file formats employing HEVC (H.265) or AV1 image
 coding, respectively, for the best compression ratios currently possible.
 .
 libheif supports various codecs provided by plugins for image decoding and
 encoding,
 .
 A thumbnailer for HEIF images that can be used by Nautilus is provided by this
 package.

Package: heif-gdk-pixbuf
Section: graphics
Architecture: any
Multi-Arch: same
Depends:
 libheif1 (= ${binary:Version}),
 ${misc:Depends},
 ${shlibs:Depends}
Description: HEIF and AVIF file format decoder and encoder - gdk-pixbuf loader
 libheif is an ISO/IEC 23008-12:2017 HEIF and AVIF (AV1 Image File Format) file
 format decoder and encoder. There is partial support for ISO/IEC 23008-12:2022
 (2nd Edition) capabilities.
 .
 HEIF and AVIF are new image file formats employing HEVC (H.265) or AV1 image
 coding, respectively, for the best compression ratios currently possible.
 .
 libheif supports various codecs provided by plugins for image decoding and
 encoding,
 .
 A gdk-pixbuf loader module for applications such as "gpicview" and "pcmanfm"
 is provided by this package.
